.list-item {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: start;
  background-color: #fff;
  border-bottom: 1px solid var(--divider);
}

.circle {
  display: flex;
  height: 50px;
  min-width: 50px;
  align-items: center;
  justify-content: center;
  font-size: var(--S_font-size);
  background-color: var(--list-circle);
  border: 1px solid var(--list-circle-stroke);
  border-radius: 50%;
  margin: 10px 20px 10px 10px;
}

.circle-inner {
  font-size: var(--XS_font-size);
}
