<mat-card>
  <div class="categories-wrapper">
    <ng-container *ngIf="isAdmin; else user">
      <div class="category" *ngFor="let category of categories">
        <app-category-hashtag-card
          (activityChange)="handleActivityChange($event, category.id)"
          (modification)="handleModification(category.id)"
          [name]="category.name"
          [isActive]="category.active">
        </app-category-hashtag-card>
      </div>
    </ng-container>
    <ng-template #user>
      <div class="category" *ngFor="let category of categories">
        <app-category-hashtag-card [name]="category.name" [isActive]="category.active"> </app-category-hashtag-card>
      </div>
    </ng-template>
  </div>
</mat-card>
