<mat-card>
  <div class="categories-wrapper">
    <ng-container *ngIf="isAdmin$ | async; else user">
      <div class="category" *ngFor="let category of categories$ | async">
        <app-category-hashtag-card
          (activityChange)="handleActivityChange($event, category.categoryId)"
          (modification)="handleModification(category.categoryId)"
          [name]="category.name"
          [isActive]="category.active">
        </app-category-hashtag-card>
      </div>
    </ng-container>
    <ng-template #user>
      <div class="category" *ngFor="let category of categories$ | async">
        <app-category-hashtag-card [name]="category.name" [isActive]="category.active"> </app-category-hashtag-card>
      </div>
    </ng-template>
  </div>
</mat-card>
