<header>
  <div class="header__close-modal-button">
    <mat-toolbar color="primary">
      <button mat-icon-button class="header__menu-btn">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="header__title-container">
      <span class="header__title">Meetek</span>
      </div>
      <span class="header__example-spacer"></span>
      <button mat-icon-button class="header__notifications-btn">
        <mat-icon>notifications</mat-icon>
      </button>
      <app-user-initials-button
        *ngIf="user$ | async as user"
        [cdkMenuTriggerFor]="menu"
        [initials]="user.initials"
        class="header__initials"></app-user-initials-button>
    </mat-toolbar>
  </div>

  <ng-template #menu class="header__modal">
    <app-user-menu *ngIf="user$ | async as user" [userData]="user" cdkMenu></app-user-menu>
  </ng-template>
</header>
