<header>
  <div class="header__close-modal-button">
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        class="header__notifications-btn"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="header__title">{{ title }}</span>
      <span class="header__example-spacer"></span>
      <button mat-icon-button class="header__notifications-btn">
        <mat-icon>notifications</mat-icon>
      </button>
      <app-user-initials-button class="header__initials" [cdkMenuTriggerFor]="menu"></app-user-initials-button>
    </mat-toolbar>
  </div>
</header>

<ng-template #menu class="header__modal">
  <app-logout-modal cdkMenu></app-logout-modal>
</ng-template>
