@import 'breakpoints.scss';
  
  @include breakpoint('mobile'){
  .header__initials {
    display: none;
    margin-left: 15px;
  }

  .header__title {
    margin-left: 10px;
    font-size: var(--h2_font-size);
  }
}

  .header__title {
    margin-left: 10px;
    font-size: var(--h1_font-size);
  }

  .header__initials {
    margin-left: 15px;
  }
  
.header__notifications-btn {
  position: relative;
  right: -10px;
}

.header__example-spacer {
  flex:auto;
}

header {
  min-width: 320px;
}