@import 'breakpoints.scss';

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 64px);
  width: 100%;

  app-search {
    position: absolute;
    top: 20px;
    right: 50px;
  }

  .title {
    margin-top: 60px;
    padding: 24px;
    font-size: var(--h2_font-size);
    font-weight: normal;
  }

  mat-card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-bottom: 50px;
    padding: 12px 0;

    .hashtag-card-container {
      margin: 6px 0;
    }
  }

  .add-button {
    position: absolute;
    bottom: 20px;
    right: 50px;
  }
}

@include breakpoint('laptop') {
  main {
    background-color: var(--surface);
    max-height: 100vh;
    max-width: 100vw;

    mat-card {
      padding: 0;
      width: 100vw;
      background-color: transparent;
      box-shadow: none;
      order: 2;
    }

    .title {
      margin-top: 0;
      order: 0;
    }

    app-search {
      order: 1;
      position: static;
      margin-bottom: 24px;
    }
  }
}
