<main *ngIf="userStatus$ | async as status">
  <mat-card>
    <p class="status">{{ status.status }}</p>
    <app-navigation [navigationOptions]="navigationOptions$ | async"></app-navigation>
    <div class="info-wrapper" *ngIf="sectionDetails$ | async as section">
      <div class="info">
        <h2>{{ section.name }}</h2>
        <p>Organizator: {{ section.sectionOwner.firstName }} {{ section.sectionOwner.lastName }}</p>
      </div>
      <div class="description">
        {{ section.description }}
      </div>
      <div class="button-wrapper">
        <button
          class="mediumButton"
          [ngClass]="status.button.class"
          [routerLink]="status.button.link"
          (click)="sectionActions(status.button.action, status.sectionId, status.userId)">
          {{ status.button.text }}
        </button>
      </div>
    </div>
  </mat-card>
</main>
