<main>
  <div class="section-wrapper">
    <p class="status">{{ userStatus$ | async}}</p>
    <div class="nav">

    </div>
    <div class="info-wrapper" *ngIf="sectionDetails$ | async as section">
      <div class="info">
        <h2>{{ section.name }}</h2>
        <p>Organizator: {{ section.sectionOwner.firstName }} {{ section.sectionOwner.lastName }}</p>
      </div>
      <div class="description">
        {{ section.description }}
      </div>
      <div class="button-wrapper">
        <button class="success">dołącz</button>
      </div>
    </div>
  </div>
</main>