<main>
  <mat-card>
    <p class="status">{{ userStatus$ | async }}</p>
    <app-navigation [navigationOptions]="navigationOptions"></app-navigation>
    <div class="info-wrapper" *ngIf="sectionDetails$ | async as section">
      <div class="info">
        <h2>{{ section.name }}</h2>
        <p>Organizator: {{ section.sectionOwner.firstName }} {{ section.sectionOwner.lastName }}</p>
      </div>
      <div class="description">
        {{ section.description }}
      </div>
      <div class="button-wrapper">
        <button class="success mediumButton">dołącz</button>
      </div>
    </div>
  </mat-card>
</main>
