.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-weight: 400;
  padding: 0 24px 24px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 20px 0;
}

mat-form-field {
  width: 100%;

  mat-error {
    font-size: var(--S_font-size);
  }
}

.button {
  height: 45px;
  text-transform: uppercase;
}
