.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  padding: 0 24px 24px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

mat-form-field {
  width: 100%;

  mat-error {
    display: none !important;
    font-size: var(--S_font-size);
  }

  mat-error:first-child {
    display: block !important;
  }
}

.button {
  height: 45px;
  text-transform: uppercase;
}
