<main>
  <h1>Wszystkie sekcje</h1>
  <div class="content">
    <br />
    <div class="search">
      <app-search [placeholderValue]="'Wyszukaj'"></app-search>
    </div>
    <ng-container *ngIf="sectionCard as card">
      <div class="sectionCard" *ngIf="allSections$ | async as sections">
        <app-section-card
          routerlink="section/:id"
          *ngFor="let section of sections"
          (modification)="card.Modification()"
          (activation)="card.Activation()"
          (deactivation)="card.Deactivation()"
          [name]="section.name"
          [numberOfMembers]="section.users.length"
          [isActive]="card.isActive">
        </app-section-card>
      </div>
    </ng-container>
  </div>
</main>
<a routerLink="section/add">
  <button mat-fab color="accent" aria-label="Example icon button with a add icon">
    <mat-icon>add</mat-icon>
  </button>
</a>
