<main>
  <h1>Wszystkie sekcje</h1>
  <div class="content">
    <div class="search">
      <app-search [placeholderValue]="'Wyszukaj'"></app-search>
    </div>
    <mat-list class="list">
      <ng-container *ngFor="let section of allSections$ | async as sections">
        <app-section-card
          *ngIf="isOwner(section.sectionOwner); else notOwn"
          [name]="section.name"
          (modification)="modification(section.id)"
          (activation)="activation(section.id)"
          (deactivation)="deactivation(section.id)"
          [numberOfMembers]="section.users.length"
          [isActive]="section.isActive"
          (click)="goToSection(section.id)">
        </app-section-card>

        <ng-template #notOwn>
          <app-section-card
            [name]="section.name"
            [numberOfMembers]="section.users.length"
            [isActive]="section.isActive"
            (click)="goToSection(section.id)">
          </app-section-card>
        </ng-template>
      </ng-container>
    </mat-list>
  </div>
</main>
<button mat-fab color="accent" (click)="goToAddSection()">
  <mat-icon>add</mat-icon>
</button>
