<!-- <app-header></app-header> -->
<main>
  <h1>Wszystkie sekcje</h1>
  <div class="content">
    <br />
    <div class="search">
      <input matInput placeholder="Wyszukaj" />
      <div class="icon">
        <mat-icon>search</mat-icon>
      </div>
    </div>
    <mat-card>
      <mat-card-content>
        <p class="sectionName">Nazwa sekcji</p>
        <p class="numberOfMembers">Liczba członków: 30</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <p class="sectionName">Nazwa sekcji</p>
        <p class="numberOfMembers">Liczba członków: 30</p>
      </mat-card-content>
    </mat-card>
  </div>
</main>
<button mat-fab color="accent" aria-label="Example icon button with a delete icon">
  <mat-icon>add</mat-icon>
</button>
