@import 'breakpoints.scss';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  width: 20vw;
  padding: 10px;
}

@include breakpoint('laptop') {
  .list {
    width: 50vw;
  }
}

@include breakpoint('mobile') {
  .list {
    width: 80vw;
  }
}
