<div class="input-dialog">
  <div class="input-dialog__close-btn-container">
    <button (click)="closeDialog()" class="input-dialog__close-btn">
      <mat-icon class="input-dialog__icon">close</mat-icon>
    </button>
  </div>
  <div class="input-dialog__title-container">
    <p class="input-dialog__title">{{ data.title }}</p>
  </div>

  <div class="input-dialog__input-container">
    <form class="example-form">
      <input
        [formControl]="text"
        [(ngModel)]="data.importedDialogData"
        class="input-dialog__input"
        [placeholder]="data.inputLabelText"
        name="dialogData"
        maxlength="50" />
      <p class="input-dialog__maxlength" *ngIf="text.value?.length === 50">Maksymalna liczba znaków to 50</p>
    </form>
  </div>
  <div mat-dialog-actions class="input-dialog__btn-container">
    <button
      [mat-dialog-close]="data.importedDialogData"
      type="submit"
      class="input-dialog__btn success mediumButton"
      mat-button>
      {{ data.buttonText }}
    </button>
  </div>
</div>
