@import 'button.scss';

form {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}

mat-error {
  font-size: var(--XS_font-size);
}

.input-dialog {
  padding: 6px 16px;
}

.input-dialog__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  max-width: 300px;
}

.input-dialog__title {
  font-size: var(--L_font-size);
  text-align: center;
  padding: 5px;
}

.input-dialog__title-container {
  justify-content: center;
  align-items: center;
}

.input-dialog__btn {
  color: var(--white);
  height: 36px;
  font-size: var(--h3_font-size);
}

.input-dialog__close-btn-container {
  display: flex;
  justify-content: flex-end;
}

.input-dialog__close-btn {
  background-color: var(--white);
  color: var(--text);
  transition: 0, 1s;
  outline: none;
}

.input-dialog__close-btn:hover {
  background-color: var(--divider);
  transition: 10ms;
}
.input-dialog__close-btn:focus {
  outline: none;
}

.input-dialog__icon {
  padding: 3px;
}
