<div class="input-dialog">
  <div class="input-dialog__close-btn-container">
    <button (click)="closeDialog()" class="input-dialog__close-btn">
      <mat-icon class="input-dialog__icon">close</mat-icon>
    </button>
  </div>
  <div class="input-dialog__title-container">
    <p class="input-dialog__title">{{ data.title }}</p>
  </div>

  <form [formGroup]="textForm" (ngSubmit)="submit()">
    <mat-form-field appearance="outline">
      <mat-label>{{ data.inputLabelText }}</mat-label>
      <input matInput formControlName="text" [placeholder]="data.inputLabelText" />
      <mat-error></mat-error>
    </mat-form-field>
    <div mat-dialog-actions class="input-dialog__btn-container">
      <button type="submit" class="input-dialog__btn success" mat-button>
        {{ data.buttonText }}
      </button>
    </div>
  </form>
</div>
