@media only screen and (max-width: 568px) {
  .logout-modal {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .logout-modal {
    width: 280px;
    height: 140px;
    position: absolute;
    top: 9px;
    right: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1000;
  }
}
@media only screen and (min-width: 600px) {
  .logout-modal {
    width: 280px;
    height: 140px;
    position: absolute;
    top: 13px;
    right: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1000;
  }
}
.logout-modal__user-btn {
  margin: 10px 0px 10px 10px;
}
.logout-modal__user-name {
  font-size: var(--h2_font-size);
}
.logout-modal__initials {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.logout-modal__user-email {
  font-size: var(--XS_font-size);
  color: var(--text);
}
.logout-modal__container {
  display: flex;
  padding: 10px;
}
.logout-modal__user-logout {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
.logout-paragraph {
  font-size: var(--L_font-size);
}
.logout-modal__logout-btn {
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;
}
.logout-modal__admin-name {
  font-size: var(--h2_font-size);
}
