<div class="box">
<div class="container">
    <mat-icon class="container-icon">check-circle</mat-icon>
<div class="event-card__container">
    
    <mat-icon class="event-card__container-icon">arrow_forward_ios</mat-icon>
    <div class="event-card__info-container">
        <div class="event-card__info-title">
            <p class="event-card-info-title-paragraph">
                Mecz w piłkarzyki <mat-icon class="event-card__info-title-icon">lock</mat-icon>
            </p>
        </div>
        <div class="event-card__info-specs">
            <p class="event-card-info-specs-paragraph">
                12 grudnia 2022, 14:30<br>
                Warszawa, Cybernetyki 9
            </p>
        </div>
        <div class="event-card__info-hash">
            <p class="event-card__info-hash">
                #dupa #najman
            </p>
            
        </div>
         <div class="event-card__map-container">
            <app-map></app-map>
        </div> 
        
    </div>
    
</div>
</div>
</div>