$dark-primary-text: black;
$light-primary-text: white;

$primary-palette: (
  50: #e3f6fd,
  100: #b7e8fa,
  200: #8ad9f7,
  300: #62caf3,
  400: #48bef2,
  500: #39b2f0,
  600: #33a4e1,
  700: #2c91cd,
  800: #2980b9,
  900: #205f97,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  ),
);
$secondary-palette: (
  50: #fce5ec,
  100: #e0c5d0,
  200: #c1a1b0,
  300: #a57d8f,
  400: #8f6278,
  500: #7a4761,
  600: #6d3f58,
  700: #5d344b,
  800: #4c2a40,
  900: #3b1e33,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  ),
);
$error-palette: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #f6685e,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #aa2e25,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  ),
);
$success-palette: (
  50: #e8f5e9,
  100: #c8e6c9,
  200: #a5d6a7,
  300: #81c784,
  400: #66bb69,
  500: #4caf50,
  600: #43a046,
  700: #388e3c,
  800: #2e7d31,
  900: #1b5e1f,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  ),
);
$warning-palette: (
  50: #fff3e0,
  100: #ffe0b2,
  200: #ffcd80,
  300: #ffb84d,
  400: #ffa826,
  500: #ff9900,
  600: #fb8d00,
  700: #f57d00,
  800: #ef6d00,
  900: #e65200,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  ),
);