<div class="cancel-confirm-dialog">
  <div class="cancel-confirm-dialog__close-btn-container">
    <button (click)="closeDialog()" class="cancel-confirm-dialog__close-btn">
      <mat-icon class="cancel-confirm-dialog__icon">close</mat-icon>
    </button>
  </div>
  <div class="cancel-confirm-dialog__title-container">
    <p class="cancel-confirm-dialog__title">{{ data.text }}</p>
  </div>
  <div class="cancel-confirm-dialog__btn-container">
    <button (click)="closeDialog()" mat-button class="cancel-confirm-dialog__cancel-btn error">anuluj</button>
    <button mat-button class="cancel-confirm-dialog__confirm-btn success">potwierdź</button>
  </div>
</div>
