<main>
  <h2>Dodaj sekcję</h2>
  <div class="form-wrapper">
    <div>
      <form [formGroup]="newSectionForm" (submit)="createSection()">
        <div class="inputs-wrapper">
          <div class="input">
            <mat-form-field appearance="outline">
              <mat-label>Nazwa</mat-label>
              <input matInput placeholder="Nazwa sekcji" type="text" formControlName="name" required />
              <mat-error *ngIf="getErrorMessage('name')">{{ getErrorMessage('name') }}</mat-error>
            </mat-form-field>
          </div>
          <div class="input textarea">
            <mat-form-field appearance="outline">
              <mat-label>Opis</mat-label>
              <textarea
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="11"
                cdkAutosizeMaxRows="11"
                placeholder="Opis sekcji"
                type="text"
                formControlName="description"
                required></textarea>
              <mat-error *ngIf="getErrorMessage('description')">{{ getErrorMessage('description') }}</mat-error>
            </mat-form-field>
          </div>
          <div class="input">
            <!-- <mat-form-field appearance="outline">
              <mat-label>Organizator</mat-label>
              <input matInput placeholder="Organizator sekcji" type="text" formControlName="organizer" required />
              <mat-error *ngIf="getErrorMessage('organizer')">{{ getErrorMessage('organizer') }}</mat-error>
            </mat-form-field> -->
            <!-- <mat-form-field class="example-chip-list" appearance="fill">
              <mat-label>Favorite Fruits</mat-label>
              <mat-chip-grid #chipGrid aria-label="Fruit selection">
                <mat-chip-row *ngFor="let organizer of organizers" (removed)="removeOrganizer(organizer)">
                  {{organizer}}
                  <button matChipRemove [attr.aria-label]="'remove ' + organizer">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>
              <input placeholder="New Fruit..." #fruitInput [formControl]="fruitCtrl"
                [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"/>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                  {{fruit}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field> -->
          </div>
        </div>
        <div class="button-wrapper">
          <button mat-raised-button [disabled]="newSectionForm.invalid">Dodaj</button>
        </div>
      </form>
    </div>
  </div>
</main>
