<div class="form-wrapper">
  <div>
    <form [formGroup]="newSectionForm" (submit)="createSection()">
      <div class="inputs-wrapper">
        <div class="input">
          <mat-form-field appearance="outline">
            <mat-label>Nazwa</mat-label>
            <input matInput placeholder="Nazwa sekcji" type="text" formControlName="name" required />
            <mat-error *ngIf="getErrorMessage('name')">{{ getErrorMessage('name') }}</mat-error>
          </mat-form-field>
        </div>
        <div class="input textarea">
          <mat-form-field appearance="outline">
            <mat-label>Opis</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="11"
              cdkAutosizeMaxRows="11"
              placeholder="Opis sekcji"
              type="text"
              formControlName="description"
              required></textarea>
            <mat-error *ngIf="getErrorMessage('description')">{{ getErrorMessage('description') }}</mat-error>
          </mat-form-field>
        </div>
        <div class="input">
          <mat-form-field class="chip-list" appearance="fill">
            <mat-label>Organizator</mat-label>
            <mat-chip-grid #chipGrid>
              <mat-chip-row *ngFor="let organizer of organizers">
                {{ organizer.firstName }} {{ organizer.lastName }}
              </mat-chip-row>
              <input
                placeholder="Organizator"
                [matChipInputFor]="chipGrid"
                [disabled]="!!organizers.length" />
            </mat-chip-grid>
          </mat-form-field>
        </div>
      </div>
      <div class="button-wrapper">
        <button mat-raised-button [disabled]="newSectionForm.invalid">Dodaj</button>
      </div>
    </form>
  </div>
</div>
