@use '@angular/material' as mat;

@include mat.core();

$dark-primary-text: black;
$light-primary-text: white;

$primary-palette: (
  50: #E3F6FD,
  100: #B7E8FA,
  200: #8AD9F7,
  300: #62CAF3,
  400: #48BEF2,
  500: #39B2F0,
  600: #33A4E1,
  700: #2C91CD,
  800: #2980B9,
  900: #205F97,
  contrast: (
    50: $dark-primary-text, 
    100:$dark-primary-text,
    200:$dark-primary-text,
    300:$dark-primary-text,
    400:$dark-primary-text,
    500:$dark-primary-text,
    600:$dark-primary-text,
    700:$dark-primary-text,
    800:$light-primary-text,
    900:$light-primary-text,
  )
);
$secondary-palette: (
  50: #FCE5EC,
  100: #E0C5D0,
  200: #C1A1B0,
  300: #A57D8F,
  400: #8F6278,
  500: #7A4761,
  600: #6D3F58,
  700: #5D344B,
  800: #4C2A40,
  900: #3B1E33,
  contrast: (
    50: $dark-primary-text, 
    100:$dark-primary-text,
    200:$dark-primary-text,
    300:$dark-primary-text,
    400:$dark-primary-text,
    500:$dark-primary-text,
    600:$dark-primary-text,
    700:$dark-primary-text,
    800:$light-primary-text,
    900:$light-primary-text,
  )
);
$error-palette: (
  50: #FFEBEE,
  100: #FFCDD2,
  200: #EF9A9A,
  300: #E57373,
  400: #EF5350,
  500: #F44336,
  600: #E53935,
  700: #D32F2F,
  800: #C62828,
  900: #B71B1C,
  contrast: (
    50: $dark-primary-text, 
    100:$dark-primary-text,
    200:$dark-primary-text,
    300:$dark-primary-text,
    400:$dark-primary-text,
    500:$dark-primary-text,
    600:$dark-primary-text,
    700:$dark-primary-text,
    800:$light-primary-text,
    900:$light-primary-text,
    )
    );
$success-palette: (
    50: #E8F5E9,
    100: #C8E6C9,
    200: #A5D6A7,
    300: #81C784,
    400: #66BB69,
    500: #4CAF4F,
    600: #43A046,
    700: #388E3B,
    800: #2E7D31,
    900: #1B5E1F,
    contrast: (
      50: $dark-primary-text, 
      100:$dark-primary-text,
      200:$dark-primary-text,
      300:$dark-primary-text,
      400:$dark-primary-text,
      500:$dark-primary-text,
      600:$dark-primary-text,
      700:$dark-primary-text,
      800:$light-primary-text,
      900:$light-primary-text,
    )
  );
$warning-palette: (
  50: #FFF3E0,
  100: #FFE0B2,
  200: #FFCD80,
  300: #FFB84D,
  400: #FFA826,
  500: #FF9900,
  600: #FB8D00,
  700: #F57D00,
  800: #EF6D00,
  900: #E65200,
  contrast: (
    50: $dark-primary-text, 
    100:$dark-primary-text,
    200:$dark-primary-text,
    300:$dark-primary-text,
    400:$dark-primary-text,
    500:$dark-primary-text,
    600:$dark-primary-text,
    700:$dark-primary-text,
    800:$light-primary-text,
    900:$light-primary-text,
  )
);

$front-primary: mat.define-palette($primary-palette, 800);
$front-secondary: mat.define-palette($secondary-palette, 400);
$front-error: mat.define-palette($error-palette, 700);


$front-light-theme: mat.define-light-theme((
  color: (
    primary: $front-primary,
    accent: $front-secondary,
    warn: $front-error,
    )  
    ));
$front-theme: mat.define-dark-theme((
  color: (
    primary: $front-primary,
    accent: $front-secondary,
    warn: $front-error,
    )  
    )); 
    
    @include mat.all-component-themes($front-light-theme);
    
    .a:not(:disabled) {
      color: mat.get-color-from-palette($success-palette, 500);
      }

:root {
  font-family: var(--roboto);
  font-size: var(--h1_font-size);
  color: var(--primary);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //colors
  --primary: #2980B9;
  --primaryDark: #115293;
  --primaryLight: #4791DB;
  --secondary: #8F6278;
  --secondaryDark: #713451;
  --secondaryLight: #af6689;
  --success: #4CAF50;
  --successDark: #388E3C;
  --successLight: #81C784;
  --error: #F44336;
  --errorDark: #AA2E25;
  --errorLight: #F6685E;
  --warning: #FF9800;
  --warningDark: #F57C00;
  --warningLight: #FFB74D;
  --background: #FAFAFA;
  --surface: #FFFFFF;
  --divider: #BABABA;
  --disabled: #868686;
  --darkModeBackground: #303030;
  --darkModeSurface: #414148;
  
  //font-size
  --h1_font-size: 24px;
  --h2_font-size: 21px;
  --L_font-size: 18px;
  --M_font-size: 16px;
  --S_font-size: 15px;
  --XS_font-size: 13px;
  --XXS_font-size: 11px;
  --button_font-size: 14px;
  
  //font-weight
  --bold: bold;

  //font-family
  --roboto: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}  

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}  

html, body { height: 100%; }