<div class="comment-item__container">
  <div class="comment-item__name">
    <p class="comment-item__name-initials">{{ commentItem.comentOwner | commentItemUserInitials }}</p>
    <p class="comment-item__name-paragraph" *ngIf="user$ | async as user">
      {{ commentItem.comentOwner | commentItemUserFullname }}
      <span *ngIf="compareObjects(commentItem.comentOwner, user)">(ja)</span>
    </p>
  </div>
  <div
    *ngIf="user$ | async as user"
    class="comment-item__text"
    [ngClass]="{ 'comment-item__mycoment': compareObjects(commentItem.comentOwner, user) }">
    <p class="comment-item__text-paragraph">
      {{ commentItem.attachmentList.text }}
      <img
        *ngIf="commentItem.attachmentList.attachment"
        class="comment-item__text-img"
        src="{{ commentItem.attachmentList.attachment }}" />
    </p>
    <div class="comment-item__date">
      <p class="comment-item__date-paragraph">{{ commentItem.date }} {{ commentItem.hour }}</p>
    </div>
  </div>
</div>
